.para_4{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
.review_div_1{
    color: #fff;
    text-align: left;
    font-size: x-large;
    padding-top: 40px;
    padding-left: 20px;
}
.review_div_2{
    color: #fff;
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
}
.review_div_3{
    color: #fff;
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
}