.nav{
  margin-left: auto;
}
.nav_links{
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.button_1{
  margin-left: 30px;
  background-color: #283785;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.button_1:hover{
  color: #fff;
  transform: scale(1.1);
}